@import './config.scss';
@import './contributorDetails.scss';



.highlighted{
  @include highlight;
}

.selected{
  background-color: #e4c4c4;
}

.rightArrow{
  background: transparent url('/images/fancy_nav_right.png') no-repeat 0 0;
}

.leftArrow{
  background: transparent url('/images/fancy_nav_left.png') no-repeat 0 0;
}



.image-wrapper {
  height: 100px;
}

.image-wrapper img {
  height: 100%;
}

body{

//    background: -moz-linear-gradient(100% 100% 90deg, #2F2727, #1a82f7);
//    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));

}



#main{
//  background-color: #fff;
//  -moz-box-shadow: 10px 10px 20px #000000;
//  -webkit-box-shadow: 10px 10px 20px #000000;
  margin: 40px 0 0 0;

  #container{

    -moz-box-shadow: 10px 10px 20px #000000;
    -webkit-box-shadow: 10px 10px 20px #000000;
    margin: auto;
    width: 960px;
    background-color: #e2e2e2;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative;
    background: url('/images/bgtex.jpg') repeat 0 0;

    #left{
      width: 480px;
      border-right: 1px solid #4d4d4d;
      display: inline-block;

      .actions{
        height: 30px;
        padding: 10px;
        background-color: #000;
        background-color: #8B1417;
        -moz-border-radius: 15px 0 0 0;
        border-radius: 15px 0 0 0;

//        -moz-box-shadow: 0px 0px 10px #000000;
//        -moz-box-shadow: 10px 10px 20px #000000;
//        -webkit-box-shadow: 10px 10px 20px #000000;

      }

      ul{
        margin: 0;
        
        
        li.contributor{
          margin: 5px;
          position: relative;
          cursor: pointer;
          border-bottom: 1px dotted #2e2e2e;
          -moz-border-radius: 15px;
          border-radius: 15px;

          &:hover{
            @include highlight;
              
          }

          .portraits{
            display: inline-block;

            a.image{
            -moz-border-radius: 10px;
            border-radius: 10px;

              img{
                height: 100px;
                width: 100px;
                margin: 10px;
                border: 8px solid #f2f2f2;
                -moz-border-radius: 10px;
                border-radius: 10px;
              }
            }
          }

          .basicDetails{
            position: absolute;
            top: 10px;
            left: 150px;
            display: inline-block;
            dt{
              display: inline-block;
              width: 95px;
              color: #b03c30;
              font-size: 0.85em;              
            }
            dd{
              display: inline;
              h2{
                display: inline-block;
              }
              ul{
                display: inline-block;
              }
            }
            .names{
              position: relative;

              dt{
//                position: absolute;
//                top: 0px;
              }
              dd{
//                position: absolute;
//                left: 95px;
//                top: 0px;
              }
            }
          }

          .toggleImage{
            height: 30px;
            width: 30px;
            position: absolute;
            top: 10px;
            right: 12px;
          }
        }
      }
    }



    #right{
      width: 460px;
      margin: 0 0 0 20px;
//      background-color: #e2e2e2;
      position: absolute;
      left: 480px;
      top: 0px;
      height: 400px;


      header{
        height: 120px;
        position: relative;
        border-bottom: 1px solid #000;
        h1{
          position: absolute;
          top: 40px;
          left: 150px;
          color: #000;
        }
      }
    }

  }

}

